body{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: #1F2938;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.title{
    color: white;
    font-weight: 700;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.project{
    display: flex;
    min-height: 82vh;
    min-width: 100vw;
}
.project-right{
    display: flex;
    min-width: 50vw;
    align-items: center;
    justify-content: center;
}
.project-left{
    display: flex;
    align-items: center;
    justify-content: right;
    min-width: 25vw;
    flex-shrink: 0;
}

.block{
    display: flex;
    background-color: darkgray;
    width: var(--BoxWidth);
    height: var(--BoxWidth);
    user-select: none;
    border: none;
}

.grid-container{
    display: flex;
    width: var(--ScreenSize);
    flex-wrap: wrap;
    flex-shrink: 0;
    border: 9px solid white;
    border-radius: 10px;
    border-style: double;
}

:root{
    --BoxWidth: 50px;
    --ScreenSize: 600px;
}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 10px;
    flex-shrink: 0;
}

.reset-button, .draw-button, .erase-button{
    height: 40px;
    width: 100px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    font-weight: 600;
    color: black;
}

.reset-button:hover, .draw-button:hover, .erase-button:hover, 
.show-grid-button:hover, .draw-button.active, .erase-button.active{
    background-color:#1F2938;
    border: 4px solid white;
    color: white;
}

.size-content, .grid-content{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100px;
}




